body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#site_wrap{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 
        1fr
        repeat(4,minmax(0,300px))
        1fr
    ;
    grid-gap: 0px;
    grid-template-rows: 
        30px
        2px
        950px
        105px
        max-content/*593px*/
        min-content
        min-content
        min-content
        1fr
    ;
    grid-template-areas: 
        "header header header header header header"
        "lineBar lineBar lineBar lineBar lineBar lineBar"
        "main main main main main main"
        "fullTextBar fullTextBar fullTextBar fullTextBar fullTextBar fullTextBar"
        ". halfImageBox halfImageBox halfTextBox halfTextBox ."
        "fullTextBarB fullTextBarB fullTextBarB fullTextBarB fullTextBarB fullTextBarB"
        "container container container container container container"
        "mapedge map map map map edge"
        "mapedge footer footer footer footer edge"
    ;
}

.header{
    /*background-color: #336699;*/
    background-color: #0959a8;
    grid-area: header;
}
.header .text-bar{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    justify-content: space-evenly;
}
.header .text-bar .phone{
    text-align: right;
    flex-basis: 1200px;
    padding: 0;
}
.header .text-bar .phone a{
    color: white;
    text-decoration: none;
}
.header .text-bar .phone h1{
    color: white;
    font-size: small;
    font-weight: 100;
}
.header-vertical{
    border: 1px solid rgb(194, 194, 194);
    height: 20px;
    width: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.lineBar{
    background-image: linear-gradient(to right,#cea622 15% , #eddfb4 20%, #cea622 25%, #cea622 75%, #eddfb4 80%, #cea622 85%);
    grid-area: lineBar;
}
.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-basis: 1200px;
    height: 30px;
}
.nav .nav-items{
    flex: 1;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
}
.nav .nav-items-right{
    flex: 1;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0.9em;
}
.nav .nav-items-a a:hover{
    border-style: none;
}
.nav .nav-items-space{
    width: 200px;
    flex-flow: wrap;
}
.nav a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.nav a:hover{
    text-decoration: none;
    color: lightgrey;
    border-style: none none solid none;
    border-width: 2px;
    border-color: white;
    padding-bottom: 15px;
}
.nav-logo{
    flex-flow: wrap;
    height: 30px;
    position: relative;
    top: 0px;
}
.main{
    background-color: black;
    background-image: url(background_main01.png);
    background-size: cover;
    /*min-height: 998px;*/
    height: auto;
    grid-area: main;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden;
}
.main .main-wrapper{
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 1200px;
}
.main-wrapper .main-items{
    flex: 1;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-wrapper .main-items-a{
    flex: 1;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 70px;
}
.main .main-wrapper .main-items img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.main .main-wrapper .main-items-a img{
    max-width: 90%;
    height: auto;
    width: auto\9; /* ie8 */
}
.logo-image{
    padding-left: 40px;
}
.fullTextBar{
    display: flex;
    /*background-color: #4875b9;*/
    background-image: linear-gradient(to right, #86b7ff, #0b52bd);
    grid-area: fullTextBar;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.fullTextBar .textBarItem{
    color: white;
    flex: 1 100%;
    margin: auto;
    font-size: 2.75vw;
    font-weight: 100;
    font-style: oblique;
}
.fullTextBarB{
    display: flex;
    /*background-color: #4875b9;*/
    background-color: black;
    grid-area: fullTextBarB;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.fullTextBarB .textBarItemB{
    align-items: center;
    text-align: center;
    width: auto;
    min-width: 20%;
    font-size: 2.75vw;
    font-weight: 900;
}
.fullTextBarB h1{
    color: rgb(253, 122, 0);
    border-style: solid solid solid solid;
    padding: 10px;
}
.fullTextBarB h2{
    color: rgb(0, 183, 255);
    border-style: solid solid solid solid;
    padding: 10px;
}
.fullTextBarB h3{
    color: rgb(255, 0, 128);
    border-style: solid solid solid solid;
    padding: 10px;
}
.halfImageBox{
    background-color: lightgray;
    background-image: url(equipe_box_main01.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    grid-area: halfImageBox;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.halfImageBox h1{
    text-align: center;
    color: black;
    font-size: 4em;
    font-weight: 200;
    padding-top: 10px;
}
.halfTextBox{
    background-color: black;
    grid-area: halfTextBox;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.halfTextBox h1{
    text-align: center;
    color: white;
    font-size: 4em;
    font-weight: 200;
    padding-top: 15px;
}
.halfTextBox p{
    text-align: justify;
    color: white;
    font-size: 1.5em;
}
.mapedge{
    grid-area: mapedge;
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.edge{
    grid-area: edge;
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.map{
    grid-area: map;
    background-color: rgb(230, 230, 230);
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    flex-basis: 1200px;
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 15px;

}
.map .list-main{
    align-items: center;
    list-style: none;
    line-height: 1em;
    text-align: left;
    padding-inline-start: 10px;
    padding-right: 15px;
}
.map h1{
    color: rgb(128, 128, 128);
    font-size: 0.7em;
}
.map a{
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 0.7em;
}
.break{
    flex-basis: 100%;
    height: 0;
}
.footer-line{
    padding: 0;
    border-style: none none solid none;
    border-width: 1.5px;
    border-color: rgb(201, 201, 201);
    width: 100%;
}
.footer{
    background-color: rgb(230, 230, 230);
    grid-area: footer;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgb(179, 179, 179);
    flex-wrap: wrap;
}
.footer a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}
.footer a:hover{
    text-decoration: none;
    color: rgb(207, 207, 207);
}
.footer-contact{
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-copyright{
    padding-top: 10px;
}
.footer-items{
    padding-top: 10px;
    padding-left: 10px;
}
.container{
    grid-area: container;
    background-image: url(background_squares.png);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: auto;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-items{
    max-width: 60%;
    text-align: center;
}
.container-items li{
    padding-bottom: 15px;
    line-height: 1.2em;
} 
.container-items h1{
    font-size: 3em;
}
.container-items p{
    font-size: 1.5em;
    color: rgb(75, 74, 74);
}
.container-items .container-list{
    text-align: left;
    font-size: 1em;
    color: rgb(116, 116, 116);
    line-height: 2em;
}
.container-list .no-bullet{
    list-style: none;
}
.container .learn-more{
    color: rgb(0, 110, 255);
    text-align: left;
    text-decoration: none;
    padding-top: 10px;
}
@media only screen and (max-width: 1200px ){
    .header .text-bar .phone{
        padding-right: 10px;
    }
    .nav .nav-items{
        padding-right: 10px;
    }
    .nav .nav-items-right{
        padding-right: 10px;
    }
    .halfTextBox h1{
        font-size: 3.5em;
        font-weight: 200;
        padding-top: 40px;
    }
    .halfTextBox p{
        font-size: 1.4em;
    }
    .main .main-wrapper{
        width: 100%;
    }
    #site_wrap{
        grid-template-rows: 
        28px
        2px
        950px
        105px
        minmax(600px,auto)
        min-content
        min-content
        min-content
        1fr
    ;
    }
}
@media only screen and (max-width: 1100px ){
    .nav .nav-items-space{
        width: auto;
    }
    .halfTextBox p{
        font-size: 2vw;
    }
    .halfTextBox h1{
        font-size: 2.5em;
        font-weight: 200;
        padding-top: 40px;
    }
    #site_wrap{
        grid-template-rows: 
        25px
        2px
        800px
        105px
        minmax(450px, auto)
        min-content
        min-content
        min-content
        1fr
    ;
    }
    .halfImageBox h1{
        font-size: 3em;
    }
}
@media only screen and (max-width: 750px ){
    .header .text-bar .phone h1{
        font-size: 0.5em;
        padding-top: 2px;
    }
    .header .text-bar .phone a{
        font-size: 0.5em;
        padding-top: 5px;
    }
    .nav .nav-items{
        font-size: 1.75vw;
    }
    .nav .nav-items-right{
        font-size: 1.75vw;
    }
    .nav .nav-items-a{
        font-size: 1.75vw;
    }
    .nav .nav-items-a img{
        height: 2vw;
    }
    .fullTextBar .textBarItem{
        font-size: 3.5vw;
    }
    .halfTextBox h1{
        font-size: 1.3em;
        font-weight: 200;
    }
    .halfTextBox p{
        font-size: 2vw;
    }
    .halfImageBox h1{
        font-size: 2.3em;
    }
    #site_wrap{
        grid-template-rows: 
        20px
        2px
        550px
        90px
        minmax(350px, auto)
        min-content
        min-content
        min-content
        1fr
    ;
    }
    .nav-logo{
        height: 20px;
    }
}